* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: black; 
    place-items: center; 
    display: grid; 
    min-height: 100vh;
}

.calculadora {
    background-color: mediumspringgreen; 
    color: darkgreen; 
    display: grid; 
    grid-template-columns: repeat(4, 2fr); 
    width: 400px; 
    max-width: 100%; 
    padding: 2.0rem;
    border-radius: 4.0rem; 
    gap: 0.5rem; 

}

.pantalla{
    grid-column:1 / -1; 
    background-color:greenyellow; 
    padding: 1.5rem; 
    font-size: 2rem;
    text-align: left; 
    border-radius: 1rem; 
    font-family: monospace;
    font-weight: 600;
    overflow:hidden; 
}

.btn {
    background-color: lawngreen;
    color: black; 
    border: 2rem;
    padding: 1.5rem; 
    display: flex;
    justify-content: center; 
    align-items: center;
    cursor: pointer; 
    font-size: 26px;

}

.btn:hover{ 
            background-color: darkolivegreen;
}

#cero {
    grid-column: 2; 
}

#igual {
    grid-row: span 1; 
    background-color: seagreen;
}

#igual:hover {     
    background-color: darkolivegreen;
}

.titulo{
    color: green;
}
